{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card chat-box card-success" id="mychatbox2">
            <div class="card-header">
                <h4><i class="fas fa-circle text-success mr-2" title="Online" data-toggle="tooltip"></i> Chat with Bot</h4>
                <div class="card-header-action">
                    {% comment %} <a href="#" class="btn btn-primary"></a> {% endcomment %}

                    {% comment %} <a href="#" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">
                        <img class="img-fluid mt-1 img-shadow" src="/node_modules/flag-icon-css/flags/4x3/id.svg" alt="image" width="40">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                      <li class="dropdown-title">Select Period</li>
                      <li><a href="#" class="dropdown-item">Today</a></li>
                      <li><a href="#" class="dropdown-item">Week</a></li>
                      <li><a href="#" class="dropdown-item active">Month</a></li>
                      <li><a href="#" class="dropdown-item">This Year</a></li>
                    </ul> {% endcomment %}
                    <div class="form-group">
                        <select class="form-control" id="flag_control" name="flag" style="position: relative;top: 16px;">
                            <option value="id" selected>Indonesia</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body chat-content"></div>
            <div class="card-footer chat-form">
                <form id="chat-form2" method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="pesan" id="input-pesan" placeholder="Type a message">
                    <input type="hidden" class="form-control" name="bahasa" id="bahasa">
                    <button class="btn btn-primary">
                        <i class="far fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {% comment %} <script src="{% static 'js/page/components-chat-box.js' %}"></script> {% endcomment %}
    <script>

        $(document).ready(function(){
            {% comment %} getTemplate(); {% endcomment %}
            var lang = $("#flag_control").val()
            $("#bahasa").val(lang)
            console.log(lang)
        })

        $(document).on('submit', '#chat-form2', function(e){
            e.preventDefault();
            var nama = '{{ user.username }}';
            var text = $('#input-pesan').val();
            var lang = $('#bahasa').val();

            if(text.length > 0){
                $.ajax({
                    type: 'POST',
                    url: "{% url 'kirimPesan' %}",
                    data: {
                        nama: nama,
                        text: text,
                        lang: lang,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(data){
                        console.log('YES')
                        printUser(data)
                        {% comment %} var dataRespon = data.respon {% endcomment %}
                        {% comment %} console.log(dataRespon) {% endcomment %}
                        printBot(data)
                        $('#input-pesan').val('')
                    },
                    error: function(xhr, textStatus){
                        console.log('NO');
                    }
                });
            } else {
                alert('Pesan tidak boleh kosong');
            }
        })

        $("#flag_control").change(function(){
            var bahasa = $(this).val()
            $("#bahasa").val(bahasa)
            console.log(bahasa)
        });

        function getResponse(){
            $.ajax({
                type: "GET",
                url: "{% url 'getResponSystem' %}",
                success: function(data){
                    console.log('YES');
                    printBot(data);
                },
                error: function(xhr, textStatus){
                    console.log('NO');
                }
            })
        }

        {% comment %} function getTemplate(){
            $.ajax({
                type: 'GET',
                url: "{% url 'templateChat' %}",
                success: function(data){
                    console.log('YES');
                    printBot(data.pesan, 'template');
                },
                error: function(xhr, textStatus){
                    console.log('NO');
                }
            })
        } {% endcomment %}
        
        function printBot(data, type){
            if(type == 'template') {
                for (pesan in data) {
                    $.chatCtrl('#mychatbox2', {
                        text: data[pesan].text,
                        picture: "{% static 'img/avatar/avatar-5.png' %}",
                        position: 'chat-left'
                    });
                }
            } else {
                var text = $('#input-pesan').val();
                $.chatCtrl('#mychatbox2', {
                    text: data.respon,
                    picture: "{% static 'img/avatar/avatar-5.png' %}",
                    position: 'chat-left'
                });
            }
        }
        
        function printUser(data){
            $.chatCtrl('#mychatbox2', {
                text: data.pesan,
                picture: "{% static 'img/avatar/avatar-2.png' %}",
                position: 'chat-right'
            });
        }

    </script>
{% endblock %}