{% extends 'landing.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <h2>Selamat datang di Aplikasi ChatBot Wisata Situbondo</h2>
    <h2>Landing Page</h2>
</div>

<div class="d-flex justify-content-center">
    <a href="{% url 'landing' %}" class="btn btn-lg btn-primary" style="margin: 15px;">Tamu anda</a>
</div>
{% endblock %}
