{% extends 'landing.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                {% comment %} <div class="gallery gallery-md">
                    <div class="gallery-item float-left" data-image="{% static 'img/tempat/1.jpg' %}" data-title="Image 1"></div>
                    <div class="gallery-item float-left" data-image="{% static 'img/tempat/2.jpg' %}" data-title="Image 2"></div>
                    <div class="gallery-item float-left" data-image="{% static 'img/tempat/3.jpg' %}" data-title="Image 3"></div>
                    <div class="gallery-item float-left" data-image="{% static 'img/tempat/4.jpg' %}" data-title="Image 4"></div>
                    <div class="gallery-item float-left" data-image="{% static 'img/tempat/5.jpg' %}" data-title="Image 5"></div>
                    <div class="gallery-item float-left" data-image="{% static 'img/tempat/6.jpg' %}" data-title="Image 6"></div>
                    <div class="gallery-item float-left" data-image="{% static 'img/tempat/7.jpg' %}" data-title="Image 8"></div>
                    <div class="gallery-item float-left" data-image="{% static 'img/tempat/8.jpg' %}" data-title="Image 9"></div>
                    <div class="gallery-item float-left" data-image="{% static 'img/tempat/9.jpg' %}" data-title="Image 10"></div>
                    <div class="gallery-item float-left" data-image="{% static 'img/tempat/1.jpg' %}" data-title="Image 11"></div>
                </div> {% endcomment %}
                <h2 class="section-title">Daftar Tempat Wisata</h2>
                <div class="row">
                    {% for w in wisata %}
                    <div class="col-12 col-md-4 col-lg-4">
                        <article class="article article-style-c">
                            <div class="article-header">
                                {% if w.foto == 'foto' or w.foto == None %}
                                <div class="article-image" data-background="{% static 'img/news/img13.jpg' %}"></div>
                                {% else %}
                                <div class="article-image" data-background="{{ w.foto.url }}"></div>
                                {% endif %}
                            </div>
                            <div class="article-details">
                                <div class="article-title">
                                    <h2>
                                        <a href="#">{{ w.nama }}</a>
                                    </h2>
                                </div>
                                <p>
                                    {% if w.deskripsi == 'deskripsi' or w.deskripsi == None %}
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolores voluptatibus voluptates deserunt cumque optio corrupti fugit ea quisquam? Quidem numquam vel, laboriosam quam obcaecati eius recusandae fugiat modi ex? 
                                    {% else %}
                                        {{ w.deskripsi }}
                                    {% endif %}
                                </p>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if wisata.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="?page={{wisata.previous_page_number}}">Previous</a></li>
                            {% endif %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Halaman {{ wisata.number }} dari {{ wisata.paginator.num_pages }}</a>
                            </li>
                            {% if wisata.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{wisata.next_page_number}}">Next</a></li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{wisata.paginator.num_pages}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="justify-content-center">
            <h2>Selamat datang di Aplikasi ChatBot Wisata Situbondo</h2>
        </div>
        <div class="d-flex justify-content-center">
            <h2>Landing Page</h2>
        </div>
        <div class="d-flex justify-content-center">
            {% comment %} <a href="{% url 'login' %}" class="btn btn-lg btn-primary" style="margin: 15px;">Login</a> {% endcomment %}
            <a href="{% url 'guest' %}" class="btn btn-lg btn-primary" style="margin: 15px;">Live Chat</a>
        </div>
    </div>
</div>
{% endblock %}

