{% extends 'basic.html' %}
{% load static %}


{% block content %}
{% include "alert/message.html" %}
<div class="card">
    <div class="card-header">
        <h4>Daftar {{title}}</h4>
        {% comment %} <div class="card-header-action">
            <a href="{% url 'booking' %}" class="btn btn-primary">Booking wisata</a>
        </div> {% endcomment %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="table-wisata">
                <thead>
                    <th>#</th>
                    <th>Nama Wisata</th>
                </thead>
                <tbody>
                    {% for w in wisata %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ w.nama }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#table-wisata').DataTable();
    });
</script>
{% endblock %}